body {
    background: url('img/bg-ps.jpg') repeat;
    background-color: #06040f;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;

    text-align: center;
    color: white;
    font-family: "Link Sans Product", sans-serif;
}

a {
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 240px;
    margin-left: -100px;

    img.logo {
        text-align: center;
        width: 300px;
        opacity: .9;
    }

    .socials {
        font-family: "Agdasima", sans-serif;
        font-size: 2.3em;
        opacity: .8;
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
            display: inline-block;
            margin: 0px 4px;

            svg:hover {
                transform: scale(1.2);
                transition-property: transform;
                transition-duration: .15s;
            }

            svg {
                vertical-align: middle;
                height: 1.6rem;
            }

            svg.bigger {
                height: 2.2rem;
            }

        }
    }
}

.game {

    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 74px;

    &.lurking {
        background: url('img/bg-lurking.jpg');
    }

    &.phantomsquad {
        background: url('img/bg-phantomsquad.jpg');
    }

    .caps {

        overflow: hidden;
        width: 530px;
        height: 280px;
        border-radius: 4px;

        img {
            width: 100%;
            height: 100%;

            &:hover {
                transition: all .3s;
                filter: brightness(130%);
                transform: scale(1.03);
            }
        }
    }

    .title {
        font-family: "Bebas Neue", sans-serif;
        font-size: 3em;
        opacity: 0.7;
        text-align: left;
    }

    .desc {
        opacity: 0.7;
        max-width: 480px;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 30px;
        line-height: 1.5em;
        text-align: justify;
    }

    .links {
        text-align: left;
        opacity: 0.8;
        font-size:1.1em;

        a {
            display: inline-block;
            font-weight: normal;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

.bottom-links {
    margin-top: 3em;
    margin-bottom: 2em;
    opacity: .5;
    font-size: .9em;
    line-height: 1.5em;

    div {
        margin: 2em;
    }

}


@media only screen and (max-width: 70rem) {
    body {
        /* background: red; */
        padding: 20px;
    }

    .header {
        margin-left: 0;
        height: fit-content;
        margin: 4em 0em;

        img.logo {
            max-width: 70%;
        }
    }

    .game {
        display: block;
        height: auto;
        max-width: 700px;
        margin: 0 auto;
        background: transparent !important;

        .caps {
            width: 100%;
            height: fit-content;

            img {
                height: auto;
            }
        }

        .title {
            display: none;
        }

        .desc {
            margin-bottom: 1em;
            max-width: 100%;
        }

        .links {
            font-size: 1.3em;
            margin-bottom: 2.5em;
        }
    }
}

@media only screen and (max-width: 35rem) {
    .header {
        display: block;
        margin: 2em 0em;

        .socials {
            margin-top: 1em;
        }
    }
}